

.comments {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.comments-section {
    
    width: 80%;
    border: 3px solid #ccc;
    padding: 10px;
    margin-bottom: 16px;
}

.comments-row {

    color: #ff0000;
    padding: 3px;
    border-bottom: 2px solid #aaa;
    font-size: 14px;
}


